# Environnement
env/
.env
__pycache__/
*.pyc
*.db
*.sqlite3

# Données sensibles Orange
data/orange_reel/
data/orange_propre/
*.xlsx
*.xls
*.csv

# Fichiers temporaires
structure.txt
git_status.txt
*.txt

# IDE
.vscode/
.idea/
*.swp
*.swo

# Node
interface/node_modules/
interface/dist/

# Fichiers générés
output/

# Claude
.claude/

# Données sensibles
CONTEXTE_PROJET.md